<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Events sorting</title>
    <!-- styles -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">-->
</head>


<body>
<div>
    <h3>Input event:</h3>
    <div class="container">
        <div class="content">

            {% for message in get_flashed_messages() %}
                <div class="w3-panel w3-green w3-round-large">{{ message }}</div>
            {% endfor %}

            {% if error %}
                <div class="w3-panel w3-red w3-round-large"><strong>Error: </strong> {{ error }}</div>
            {% endif %}

            <form class="form" role="form" method="post" action="/add_event/">
                {{ form.csrf_token }}
                <div class="container">
                    <!-- people ID -->
                    {{ form.peopleID(placeholder="peopleID") }}
                    <span class="error">
                        {% if form.peopleID.errors %}
                            {% for error in form.peopleID.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </span>

                    <br>
                    <!-- pos X -->
                    {{ form.posX(placeholder="posX") }}
                    <span class="error">
                        {% if form.posX.errors %}
                            {% for error in form.posX.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </span>

                    <br>
                    <!-- pos Y -->
                    {{ form.posY(placeholder="posY") }}
                    <span class="error">
                        {% if form.posY.errors %}
                            {% for error in form.posY.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </span>
                </div>

                <button class="w3-bar-item w3-button w3-blue" type="submit">Submit</button>
            </form>
        </div>
    </div>

    <!-- Show events -->
    <h3>Events</h3>
    <div class="w3-row">
            <div class="w3-third w3-container">
                <b>Individual events</b>
                <table class="w3-table-all w3-centered w3-card-1">
                    <tr class="w3-green">
                        <th>peopleID</th>
                        <th>posX</th>
                        <th>posY</th>
                    </tr>
                    {% for event in events.events %}
                        <tr>
                            <td>{{ event[0] }}</td>
                            <td>{{ event[1] }}</td>
                            <td>{{ event[2] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="w3-third w3-container">
                <b>Closed events</b>
                <table class="w3-table-all w3-centered w3-card-2">
                    <tr class="w3-green">
                        <th>peopleID</th>
                        <th>posX</th>
                        <th>posY</th>
                        <th>posX</th>
                        <th>posY</th>
                    </tr>
                    {% for event in events.closed_events %}
                        <tr>
                            <td>{{ event[0] }}</td>
                            <td>{{ event[1] }}</td>
                            <td>{{ event[2] }}</td>
                            <td>{{ event[3] }}</td>
                            <td>{{ event[4] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="w3-third w3-container">
                <b>Open events</b>
                <table class="w3-table-all w3-centered w3-card-2">
                    <tr class="w3-green">
                        <th>peopleID</th>
                        <th>posX</th>
                        <th>posY</th>
                    </tr>
                    {% for peopleID, (posX, posY) in events.open_events.items() %}
                        <tr>
                            <td>{{ peopleID }}</td>
                            <td>{{ posX }}</td>
                            <td>{{ posY }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
    </div>
</div>

</body>
</html>